.content {
  display: flex;

   font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* --primary: #58a4b0;
  --secondary: #373f51;
  --secondary-active: #cccccc;
  --background: #fff;
  --background-details: #ececec; */

  --primary: #47307d;
  --secondary-active: #e33f8f;
  --secondary: #ee5c9c;
  --background: #382b70;
  --background-details: #f0f0f0;
}
