*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background: linear-gradient(178deg, #772e99 0%, #382b70 100%);
}

body, input, button, textarea{
  font: 600 18px 'Montserrat', sans-serif;
}