.card-expense {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background-details);
  border-radius: 4px;
  flex-wrap: wrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 16px;
  color: #3e4347;
  transition-duration: 1s;
}

.card-expense_header {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-expense_img{

  width: 35px;
  height: 35px;

  position: absolute;
  top: -15px;
  right: -20px;
  background: var(--secondary-active);

  color: #fff;
  padding: 5px;
  border-radius: 15px;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  cursor: pointer;

  transition: background-color 0.2s;
 


}

.card-expense_img:hover{
  background: var(--secondary);
  
}

.card-expense_title {
  font-size: 1.2em;
  margin-right: 12px;
}

.card-expense_text {
  margin-top: 8px;
  font-size: 1em;
}