.create-expense-form {
flex-grow: 2;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
z-index: 1;
min-height: 100vh;
display: flex;
flex-direction: column;
padding: 12px 40px;
}

.form-create_input {
  margin-top: 8px;
  padding: 4px;
  border: none;
  background-color: var(--background-details);
  font-family: ubuntu, monospace;
  font-weight: 100;
}

.create-expense-form button {
  align-self: flex-end;
  width: 40%;

  background-color: var(--secondary);
  color: white;
  font-weight: 400;

  border-radius: 15px;
}

.create-expense-form button:active {
  background-color: var(--secondary-active);
} 

