.expense-list {
  width: 70%;
  
  border: 1px solid red;

  display: flex;
  justify-content: space-evenly;
  



}

.expense-list ul {
  width: 100%;
  min-width: 440px;

  display: flex;
  justify-content: space-evenly;
  align-items: left;
  list-style: none;
  border: 1px solid red
}